
<header>
    <!-- Navigation bar -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top">
      <div class="container">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img style="float: center; height: 60px; padding-right: 5px;" src="{{ 'mim_logo_black.png' | prepend: '/assets/img/' | prepend: site.baseurl }}" alt="lab logo">
            </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {%- assign sorted_pages = site.pages | sort: "nav_order" -%}
                {%- for p in sorted_pages -%}
                {% if p.nav_bar %}
                <li class="nav-item">
                    <a class="nav-link {% if page.title == p.title %}active{% endif %}" href="{{ p.url | relative_url }}">
                        {{ p.title }}
                    </a>
                </li>
                {% endif %}
                {% endfor %} 
            </ul>
        </div>
      </div>
    </nav>
  </header>
